<div class="teamsheets-container">
  <div class="team-score-header">
    <h6>Dark Team - {{ darkTeamGoals }}<span *ngIf="whiteTeamPenalties || darkTeamPenalties">&nbsp;({{ darkTeamPenalties }}) </span></h6>
  </div>
  <div class="team-score-header">
    <h6><span *ngIf="whiteTeamPenalties || darkTeamPenalties">({{ whiteTeamPenalties }})&nbsp;</span>{{ whiteTeamGoals }} - White Team</h6>
  </div>
  <ng2-smart-table [settings]="darkSettings" [source]="darkTeamData"></ng2-smart-table>
  <ng2-smart-table [settings]="whiteSettings" [source]="whiteTeamData"></ng2-smart-table>
  <ng-container *ngIf="whiteTeamPenalties || darkTeamPenalties">
    <h6 class="penalty-label">Penalties</h6>

    <div class="team-score-header">
      <h6>Dark Team - {{darkTeamPenalties}}</h6>
    </div>
    <div class="team-score-header">
      <h6>{{whiteTeamPenalties}} - White Team</h6>
    </div>
    <ng2-smart-table [settings]="darkPenaltySettings" [source]="darkTeamPenaltyData"></ng2-smart-table>
    <ng2-smart-table [settings]="whitePenaltySettings" [source]="whiteTeamPenaltyData"></ng2-smart-table>
  </ng-container>
</div>
