
.dialog-title {
  text-align: center;
}

.dialog-body {
  margin-bottom: 10px;
}

.dialog-label {
  display: inline-block;
  width: 160px;
  vertical-align: middle;
  font-size: 14px;
}

.dialog-row:not(:first-of-type) {
  margin-top: 10px;
}

.ampm-select {
  margin-left: 5px;
  width: 75px;
}

.ampm-select ::ng-deep button {
  min-width: unset;
}

.input-label {
  margin-right: 5px;
}

.btn-container {
  text-align: center;
}

button:first-of-type {
  margin-right: 5px;
}

.dialog-data {
  width: 155px;
}

.game-time {
  width: 75px;
}
