
.dialog-title {
  text-align: center;
}

.dialog-body {
  margin-bottom: 10px;
}

.input-label {
  margin-right: 5px;
}

.btn-container {
  text-align: center;
}

button:first-of-type {
  margin-right: 5px;
}
