<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="bars" pack="solid" class="fa-fw"></nb-icon>
    </a>
    <a class="logo desktop" href="#" (click)="navigateHome()">Estadio Fallon Liga</a>
    <a class="logo mobile" href="#" (click)="navigateHome()">EFL</a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user ? user.name : 'User'"
               [picture]="user?.photoUrl"
               [title]="user?.isAdmin? 'Site Admin' : 'Player'">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
