<div class="select-container">
  <div class="admin-btn-container">
    <button nbButton status="info" shape="semi-round" size="small" [routerLink]="['/admin/matches/summary']" class="back-btn">
      <fa-icon [fixedWidth]="true" [icon]="faLongArrowAltLeft"></fa-icon> Match List
    </button>
    <button nbButton status="primary" shape="semi-round" size="small" (click)="setScores()">
      <fa-icon [fixedWidth]="true" [icon]="faSave"></fa-icon>
      <span class="btn-text">Update Scores</span>
    </button>
  </div>
</div>

<efl-teamsheets [matchData]="match"></efl-teamsheets>
