@import '~include-media/dist/_include-media';

.team-picker-container {
  text-align: center;
}

.player-container {
  @include media(">=phone", "<tablet") {
    width: 150px;
  }
  width: 200px;
  max-width: 100%;
  margin: 0 0 25px 0;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.player-container:first {
  margin: 0 25px 25px 0;
}

.player-card {
  @include media(">=phone", "<tablet") {
    width: 90px;
    margin: auto;
  }
  max-width: 400px;
  border: 1px solid #cccccc;
  padding: 10px;
  width: 180px;
  overflow: hidden;
  font-size: 14px;
  margin: 0 auto;
}

.player-card-content {
  padding: 0;
}

.player-name {
  @include media(">=phone", "<tablet") {
    float: none;
  }
  float: left;
  vertical-align: middle;
  line-height: 18px;
}

.selected {
  background-color: #80b3ff;
}
