.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
}

ng2-smart-table ::ng-deep table {
  max-width: 300%;
  width: 100%;
}

nb-select {
  width: 110px;
}
