.dialog-title {
  text-align: center;
}

.score-header-container {
  margin-bottom: 5px;
}

.score-header {
  width: 250px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

th, td {
  border: 1px solid rgba(0,0,0);
}

.player-data-table {
  display: inline-table;
  border-collapse: collapse;
  width: 50%;
}

.input-goals, .input-assists {
  width: 75px;
  padding: 5px !important;
}

.player-name {
  text-align: center;
  width: 100px;
}

.dialog-body {
  margin-bottom: 10px;
}

.input-label {
  margin-right: 5px;
}

.btn-container {
  text-align: center;
}

button:first-of-type {
  margin-right: 5px;
}

.cancel-btn {
  background-color: #b4bbe4;
}
