nb-chat-message {
  margin-bottom: 5px;
}

nb-chat-message ::ng-deep .text {
  padding: 10px !important;
}

nb-chat {
  width: 70%;
  margin: auto;
}

.admin ::ng-deep .text {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.white ::ng-deep .text {
  background-color: #f7f8fb !important;
  color: #000000 !important;
}

.dark ::ng-deep .text {
  background-color: #b8c3d9 !important;
  color: #000000 !important;
}
