<nb-chat title="Team Captain Chat" size="medium" *ngIf="chat$ | async as messages">
  <nb-chat-message class="{{msg.user.team}}" *ngFor="let msg of messages"
                   [type]="'text'"
                   [message]="msg.text"
                   [reply]="msg.user.team === this.team"
                   [sender]="msg.user.name ? msg.user.name : msg.user.team"
                   [date]="msg.date"
                   [avatar]="msg.user.avatar">
  </nb-chat-message>
  <nb-chat-form (send)="sendMessage($event)" [dropFiles]="false"></nb-chat-form>
</nb-chat>
